@mixin template-button {
    padding: 14px 45px;
    background-color: $yellow;
    color: $white;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border: 1px solid $yellow;
    letter-spacing: 0px; 
    cursor: pointer;
    @include df-row-center-center;
    transition: 100ms ease all;
    &:active{
        transition: 100ms ease all;
        color: $yellow;
        background-color: inherit;
       
    }
}
@media(max-width:1024px){
   @mixin template-button {
    padding: 14px 39px;
    background-color: $yellow;
    color: $white;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    border: 1px solid $yellow;
    letter-spacing: 0px; 
    @include df-row-center-center;
    transition: 100ms ease all;
    &:active{
        transition: 100ms ease all;
        color: $yellow;
        background-color: inherit;
       
    }
}
}