.map {
margin-top: 120px;
		&__container {
			@include df-column-center-center;
			gap: 40px; 
		}

		&__icon-map {
			width: 100%;
			display: block;
		}

		&__icon-map-second {
			display: none;
		
		}

		&__box {
			display: none;
		
		}

		&__name-places {
			border: 3px solid $light__yellow;
			text-align: center;
			padding-bottom: 20px;
			padding-top: 22px;
			width: 100%;
			background-color: $light__yellow;
			color: $dark__navy;
			font-family: 'Space Mono';
			font-weight: bold;
			font-size: 24px;
			letter-spacing: -1.07px;
			line-height: 28px;
			transition: 100ms ease all;
			&:active{
transition: 200ms ease all;
background-color: inherit;
color: $dark__navy;
			}
		}
} 
@media(max-width:1024px){
	.map {
margin-top: 144px;
		&__container {
			padding-right: 40px;
			padding-left: 40px;
			@include df-column-center-center;
			gap: 40px; 
		}

		&__icon-map {
			width: 100%;
			display: block;
		}

		&__icon-map-second {
			display: none;
		
		}

		&__box {
			display: none;
		
		}

		&__name-places {
			border: 3px solid $light__yellow;
			text-align: center;
			padding-bottom: 20px;
			padding-top: 22px;
			width: 100%;
			background-color: $light__yellow;
			color: $dark__navy;
			font-family: 'Space Mono';
			font-weight: bold;
			font-size: 24px;
			letter-spacing: -1.07px;
			line-height: 28px;
			transition: 100ms ease all;
			&:active{
transition: 200ms ease all;
background-color: inherit;
color: $dark__navy;
			}
		}
}
}
@media(max-width:767px){
	.map {
margin-top: 72px;
		&__container {
			padding-right: 24px;
			padding-left: 24px;
			@include df-column-center-center;
			gap: 40px; 
		}

		&__icon-map {
			width: 100%;
			display: none;
		}

		&__icon-map-second {
			display: block;
			width: 100%;
		}

		&__box {
			display: block;
			width: 100%;
			@include df-column-center-center;
            gap:16px;
		}

		&__name-places {
			border: 3px solid $light__yellow;
			text-align: center;
			padding-bottom: 20px;
			padding-top: 22px;
			width: 100%;
			background-color: $light__yellow;
			color: $dark__navy;
			font-family: 'Space Mono';
			font-weight: bold;
			font-size: 24px;
			letter-spacing: -1.07px;
			line-height: 28px;
			transition: 100ms ease all;
			&:active{
transition: 200ms ease all;
background-color: inherit;
color: $dark__navy;
			}
		}
}
}

