.sign {
		position: relative;
		margin-top: 180px;
        padding-top: 102px;
		padding-bottom: 102px;
        background-color: $dark__navy;
		z-index: 2;
		&::after{
			z-index: -1;
			position: absolute;
			content: "";
			display: inline-block;
			width: 998px;
			height: 158px;
			bottom: 0;
            right: 0;
			background-image: url(../../images/second__tirple-icons.svg); 
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&::before{
			z-index: -1;
			position: absolute;
			content: "";
			display: none;
			width: 151px;
			height: 181px;
			bottom: 0;
			right: 0;
			background-image: url(../../icons/right__circle.svg); 
			background-position:center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&__container {
            @include df-row-between-center;
			gap: 0px;
		}

 			&__title {
			width: 457px;
			font-family: 'Space Mono';
			font-weight: 700;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: -2.14px;
			text-align: start;
			color: $white;
		}

		&__download-box {
            @include  df-row-center-center;
            gap: 18px;
		}

		&__link {
		}

		&__appstore-icon {
            width: 159px;
            height: 56px;
		}

		&__googleplay-icon {
             width: 186px;
            height: 56px;
		}
}

@media(max-width:1024px){
    .sign {
		position: relative;
		margin-top: 104px;
        padding: 62px 40px;
        background-color: $dark__navy;
		z-index: 2;
		&::after{
			z-index: -1;
			position: absolute;
			content: "";
			display: inline-block;
			width: 100%;
			height: 158px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			background-image: url(../../icons/triple__circle.svg); 
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&::before{
			z-index: -1;
			position: absolute;
			content: "";
			display: none;
			width: 151px;
			height: 181px;
			bottom: 0;
			right: 0;
			background-image: url(../../icons/right__circle.svg); 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&__container {
            @include df-column-center-center;
			gap: 40px;
		}

		&__title {
			width: 457px;
			font-family: 'Space Mono';
			font-weight: 700;
			font-size: 48px;
			line-height: 48px;
			letter-spacing: -2.14px;
			text-align: center;
			color: $white;
		}

		&__download-box {
            @include  df-row-center-center;
            gap: 13px;
		}

		&__link {
		}

		&__appstore-icon {
            width: 113.57px;
            height: 40px;
		}

		&__googleplay-icon {
             width: 130px;
            height: 40px;
		}
}
}
@media(max-width:767px){
    .sign {
		position: relative;
		margin-top: 120px;
        padding:88px 24px;
        background-color: $dark__navy;
		z-index: 2;
		&::after{
			z-index: -1;
			position: absolute;
			content: "";
			display: inline-block;
			width: 151px;
			height: 181px;
			bottom: 0;
			left: 0;
			right: auto;
			margin: 0 auto;
			background-image: url(../../icons/left__circle.svg); 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&::before{
			z-index: -1;
			position: absolute;
			content: "";
			display: inline-block;
			width: 151px;
			height: 181px;
			bottom: 0;
			right: 0;
			background-image: url(../../icons/right__circle.svg); 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&__container {
            @include df-column-center-center;
			gap: 40px;
		}

		&__title {
			width: 311px;
			font-family: 'Space Mono';
			font-weight: 700;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -1.43px;
			text-align: center;
			color: $white;
		}

		&__download-box {
            @include  df-row-center-center;
            gap: 13px;
		}

		&__link {
		}

		&__appstore-icon {
            width: 113.57px;
            height: 40px;
		}

		&__googleplay-icon {
             width: 130px;
            height: 40px;
		}
}
}

